.dark-mode {
  background-color: #181a1b;
}

.dark-mode .border {
  border-top: 0.1px solid #4d5356;
}

.dark-mode .result-heading,
.dark-mode .time p,
.dark-mode .main-heading,
.dark-mode .footer-btn {
  color: #79b9e2;
}

.dark-mode .header-btn:link,
.dark-mode .header-btn:visited {
  color: #79b9e2;
  background-color: #181a1b;
}

@media (hover: hover) and (pointer: fine) {
  .dark-mode .home:hover,
  .dark-mode .home:active {
    background-color: #222526;
  }
}

@media (hover: hover) and (pointer: fine) {
  .dark-mode .theme-toggle:hover,
  .dark-mode .theme-toggle:active {
    background-color: #fff;
    color: #243d79;
  }
}

.dark-mode .light {
  display: block;
}

.dark-mode .dark {
  display: none;
}

.dark-mode .tag {
  background-color: #826c3e;
}

@media (hover: hover) and (pointer: fine) {
  .dark-mode .footer-btn:hover,
  .dark-mode .footer-btn:active {
    color: #85a0bd;
  }
}

.dark-mode .footer-copyright {
  color: #fff;
}
