.no-flexbox-gap .logo-img {
  margin-bottom: 3rem;
}

.no-flexbox-gap .header-btn:not(:last-child) {
  margin-right: 2rem;
}

.no-flexbox-gap .tags {
  margin-bottom: 1.5rem;
}

.no-flexbox-gap .tag:not(:last-child) {
  margin-right: 0.5rem;
}

.no-flexbox-gap .tag {
  margin-bottom: 0.5rem;
}

.no-flexbox-gap .time-icon {
  margin-right: 0.2rem;
}

.no-flexbox-gap .footer-btns {
  margin-bottom: 2rem;
}

.no-flexbox-gap .footer-btn:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 30em) {
  .no-flexbox-gap .logo-img {
    margin-bottom: 0;
  }
}