/*/////////*/
/* GENERAL */
/*/////////*/

* {
  /* Reset default HTML settings */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  /* When tab is pressed */
  outline-color: #a3874e;
}

html {
  /* Rem system is used where 1 rem = 10 px */
  font-size: 62.5%; /* 10/16 = .625 = 62.5% */
  font-family: "Montserrat", sans-serif; /* Montserrat font from Google fonts */
  font-weight: 500;
}

.border {
  border-top: 0.1px solid #999;
  width: 100vw; /* Full width of viewport */
}

.container {
  /* Centres sections */
  max-width: 120rem;
  margin: 0 auto;
}

/*////////*/
/* HEADER */
/*////////*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
  gap: 2rem;
}

.logo-img {
  width: 52rem;
}

.logo-img-small {
  display: none; /* Only shows up on smaller screen devices */
}

.header-btns {
  display: flex;
  gap: 2rem;
}

.header-btn:link,
.header-btn:visited {
  display: inline-block;
  padding: 1rem;
  border-radius: 1.4rem;
  box-shadow: 0 0 0.7rem #506494;
  background-color: #fff;
  color: #243d79;
  transition: all 0.3s;
}

.icon-header {
  font-size: 3.6rem;
  color: inherit;
}

/* For non-touch devices hover will work. */
@media (hover: hover) and (pointer: fine) {
  .home:hover,
  .home:active {
    background-color: #e9ecf2;
  }
}

@media (hover: hover) and (pointer: fine) {
  .theme-toggle:hover,
  .theme-toggle:active {
    background-color: #3b3c3d;
    color: #79b9e2;
  }
}

/* Icon is displayed only in dark mode */
.light {
  display: none;
}

.dark {
  display: block;
}

/*/////////////////*/
/* RESULTS SECTION */
/*/////////////////*/

.section-results {
  margin: 1.6rem 0;
  margin-bottom: 4rem;
}

.main-heading {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: #243d79;
  text-decoration: underline;
  margin-bottom: 3.6rem;
}

.result-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.result-list-item:link,
.result-list-item:visited {
  /* max-width: 40rem; */
  padding: 4.8rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.1rem 0.7rem #506494;
  display: inline-block;
  color: #243d79;
  text-decoration: none;
  transition: all 0.3s;
}

/* NO HOVER ON MOBILE */
@media (hover: hover) and (pointer: fine) {
  .result-list-item:hover,
  .result-list-item:active {
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 0 0 0.3rem #506494;
  }
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tag {
  /* background-color: #243d79; */
  background-color: #a3874e;
  color: #fff;
  border-radius: 1rem;
  padding: 0 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.result-heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  line-height: 1.06;
}

.time {
  display: flex;
  gap: 0.2rem;
  justify-items: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  /* color: #243d79; */
  color: #c1373d;
}

.time p {
  color: #243d79;
}

/*/////////////////*/
/* FOOTER SECTION */
/*/////////////////*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
  gap: 2rem;
}

.footer-btns {
  display: flex;
  gap: 2rem;
}

.footer-btn:link,
.footer-btn:visited {
  font-size: 2.4rem;
  color: #243d79;
  transition: all 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .footer-btn:hover,
  .footer-btn:active {
    color: #506494;
  }
}

.footer-copyright {
  text-align: center;
  font-weight: 700;
}